doctype html
html(lang="en" class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")

		block meta
			meta(name="description" content="")
			//- facebook
			meta(property="og:site_name" content="CopWatcher.com")
			meta(property="og:type" content="website")
			meta(property="og:url" content="http://copwatcher.com/my-special-url")
			meta(property="og:title" content="the page title ie report #222")
			meta(property="og:image" content="a thumbnail url")
			//- twitter
			meta(name="twitter:card" content="summary")
			meta(name="twitter:url" content="http://copwatcher.com/my-special-url")
			meta(name="twitter:title" content="the page title ie report #222")
			meta(name="twitter:description" content="my special page description")
			meta(name="twitter:image" content="a thumbnail url")

		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/sandstone/bootstrap.min.css")		

		block header_scripts

		
	body
		header(role="header" id="header" class="")
		main(role="main" id="main" class="container")
			block content
				h1= title
		footer(role="footer" id="footer")
	
	block footer_scripts